<!DOCTYPE html>
<html>
<head>
    <title>adventuretime</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1> *\o/*</h1>
    <table>
        <tr>
            <th>Adventures</th>
            <th>Tags</th>
        </tr>
        <% for(var i=0; i < list.length; i++) { %>
        <tr>
            <td><a href="/adventures/<%= list[i].title %>"><%= list[i].title %></a></td>
            <td><%= list[i].tags %></td>
        </tr>
        <% } %>
    </table>
</body>
</html>