<!DOCTYPE html>
<html>
<head>
    <title>adventuretime</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1> Hello Adventurer!</h1>
<pre class="story"><%= list %></pre>
<!--<div class="action-buttons">-->
    <!--<button><a href="<%= link_to_code %>">Go do quest</a></button>-->
    <!--<button><a href="<%= link_to_answer %>">Check what Vitaly, the Oracle, has to say</a></button>-->
</div>
</body>
</html>
